{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'application/img/favicon/favicon-16x16.png' %}">
	    <link type="image/png" sizes="32x32" rel="icon" href="{% static 'application/img/favicon/favicon-32x32.png' %}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'application/css/base.css' %}">
    </head>
    <body>
    	<section class='logo'>
			<section class='link__list' style="margin-left: 5%;">
    			<a class='link' href='/'>Главная</a>
    			<a class='link' href='/demand/'>Востребованность</a>
    			<a class='link' href='/geo/'>География</a>
    			<a class='link' href='/skills/'>Ключевые навыки</a>
    			<a class='link' href='/vacancies/'>Последние вакансии</a>
    		</section>
			<div>
				<img src='{% static "application/img/logo.png" %}' style="width: 10%; height:5%;">
    			<p style="font-size: 40px; color: #FF8562;">Рога и копыта</p>
			</div>
		</section>
    	<section>
    		<div class='page__title'>
    			<p style="font-size: 60px;">
    				{% block page_title %}
    				{% endblock %}
    			</p>
    			<img class='arrow' id='arrow' src='{% static "application/img/down_arrow.svg" %}'>
    		</div>
    		<div class='body' id='block'>
		    	{% block body %}
		    	{% endblock %}
		    </div>
    	</section>
    	<script>
    		const button = document.getElementById('arrow');
			const form = document.getElementById('block');

			button.addEventListener('click', e => {
				console.log('1')
				form.scrollIntoView({
			    	block: 'start',
			    	behavior: 'smooth',
			  	});
			});

			function toggleDescription(element) {
      			var description = element.nextElementSibling;
      			description.classList.toggle('expanded');
      			console.log('toggle')
    		}
    	</script>
    </body>
    <footer>
    	<p>Васильев Роман Андреевич</p>
    	<p>РИ-220936</p>
    </footer>
</html>